.dark {
  background-color: black;
  color: #fff;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.light {
  background-color: #fff;
  color: #000;
}

.dark-btn,
.light-btn {
  padding: 10px;
  border: none;
  cursor: pointer;
}

.dark-btn {
  color: #fff;
  background-color: #000;
  border: 2px solid #fff;
  border-radius: 5px 10px;
}

.light-btn {
  border: 2px solid #000;
  color: #000;
  background-color: #fff;
  border-radius: 10px 5px;
}

main {
  height: 90vh;
  padding: 25px;
  border: 5px solid burlywood;
}

header ul {
  display: flex;
  align-items: center;
  gap: 15px;
}

header ul li a {
  display: block;
  padding: 10px 15px;
  border: 2px solid black;
  border-radius: 10px 5px;
}

textarea {
  height: 50vh;
  margin-top: 15px;
  padding: 15px;
  width: 80%;
}

textarea:focus{
  border: none;
}

.selected-comp {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
